{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true,
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended", 
    "react-app", 
    "plugin:import/errors", 
    "plugin:import/warnings", 
    "prettier", 
    "prettier/react"
  ],
  "plugins": ["import", "prettier"],
  "rules": {
    "import/order": "error",
    "import/no-extraneous-dependencies": [0],
    "import/prefer-default-export": [0],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 80,
        "tabWidth": 2,
        "trailingComma": "es5"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
